{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="v-center small-10 small-centered medium-6 large-4 columns">
        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST"
              class="fos_user_profile_edit">
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="button expand" value="{{ 'profile.edit.submit'|trans }}"/>
            </div>
        </form>
    </div>
</div>
