.v-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.red {
    color: #a9014b;
}
.red:visited {
    color: #a9014b;
}
.style4 {
    font-size: 20px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.green {
    color: #387C44;
}
.gray {
    color : #222222;
}


