{% extends "CosmedCoreBundle::layout.html.twig" %}

{% block head_title %}
    <title> Cosmed – Administration</title>
{% endblock head_title %}

{% block body_content -%}
    <div class="row small-12 small-centered medium-6 large-4 v-center">
        <fieldset>
            <legend>Modification d'un destinataire</legend>
            <div class="">
                {{ form_start(edit_form) }}
                <div class="row">
                    <label class="required" for="cosmed_contact_backofficebundle_contactreceiver_firstName">Prénom :</label>
                    {{ form_widget(edit_form.firstName) }}
                </div>
                <div class="row">
                    <label class="required" for="cosmed_contact_backofficebundle_contactreceiver_lastName">Nom :</label>
                    {{ form_widget(edit_form.lastName) }}
                </div>
                <div class="row">
                    <label class="required" for="cosmed_contact_backofficebundle_contactreceiver_Email">Email :</label>
                    {{ form_widget(edit_form.email) }}
                </div>
                <div class="row">
                    <label class="required" for="cosmed_contact_backofficebundle_contactreceiver_function">Fontion</label>
                    {{ form_widget(edit_form.function) }}
                </div>
                <div class="row right">
                    {{ form_widget(edit_form.submit, 'label' : 'Modifier') }}
                    {{ form_rest(form) }}
                </div>
                <div class="column large-4">
                    <a href="{{ path('receiver') }}">
                        <i class="fi-arrow-left large"></i>  retour à la liste
                    </a>
                </div>
            </div>
        </fieldset>
    </div>
{% endblock body_content %}
