{% extends "CosmedCoreBundle::layout.html.twig" %}

{% block head_title %}
    <title> Cosmed – Administration</title>
{% endblock head_title %}

{% block body_content -%}
    <div class="row small-12 v-center">
        <h3>Liste des destinataires :</h3>

        <table class="records_list small-12">
            <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Fonction</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.firstName }}</td>
                    <td>{{ entity.lastName }}</td>
                    <td>{{ entity.function }}</td>
                    <td>
                        <a href="{{ path('receiver_edit', { 'id': entity.id }) }}">modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="button success small right" href="{{ path('receiver_new') }}">
            Créer un nouveau destinataire
        </a>
    </div>
{% endblock body_content %}
