{% extends "CosmedCoreBundle::layout.html.twig" %}

{% block head_title %}
    <title> Cosmed – Administration</title>
{% endblock head_title %}

{% block body_content -%}
    <div class="row small-12 small-centered medium-6 large-4 v-center">
        <fieldset>
            <legend>Ajouter un destinataire</legend>
            {{ form_start(form) }}
            <div class="row">
                <label class="required" for="cosmed_contact_backofficebundle_contactreceiver_firstName">Prénom :</label>
                {{ form_widget(form.firstName) }}
            </div>
            <div class="row">
                <label class="required" for="cosmed_contact_backofficebundle_contactreceiver_lastName">Nom :</label>
                {{ form_widget(form.lastName) }}
            </div>
            <div class="row">
                <label class="required" for="cosmed_contact_backofficebundle_contactreceiver_Email">Email :</label>
                {{ form_widget(form.email) }}
            </div>
            <div class="row">
                <label class="required" for="cosmed_contact_backofficebundle_contactreceiver_function">Fontion</label>
                {{ form_widget(form.function) }}
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="column large-4">
                    <a href="{{ path('receiver') }}">
                        <i class="fi-arrow-left large"></i>  retour à la liste
                    </a>
                </div>
                <div class="right large-4">
                    {{ form_widget(form.submit, {'label' : 'Ajouter'}) }}
                    {{ form_rest(form) }}
                </div>

            </div>

          </form>
        </fieldset>

    </div>
{% endblock body_content %}
