{% extends "CosmedCoreBundle::layout.html.twig" %}

{% block head_title %}
    <title> Cosmed – Administration</title>
{% endblock head_title %}

{% block body_content -%}
<div class="row">
    <h1>{{ entity.lastName }} {{ entity.firstName }}</h1>

    <table class="small-12 small-centred">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ entity.function }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
            <div class="column large-4">
                <a href="{{ path('receiver') }}">
                    <i class="fi-arrow-left large"></i>  retour à la liste
                </a>
            </div>
</div>
{% endblock body_content %}
