{% extends "CosmedCoreBundle::layout.html.twig" %}

{% block body_content %}
    <div class="row small-5 small-centered v-center">
        <span class="green style4 small-centred">ça marche ! maintenant vous pouvez tester :</span>
        <ul class="button-group even-2">
            <li><a href="{{ path('cosmed_contact_backoffice_admin_index') }}" class="button">
                    La section d'administration</a></li>
            <li><a href="{{ path('cosmed_contact_frontoffice_contact_index') }}"
                   class="button info">Le formulaire de contact</a>
            </li>
        </ul>
    </div>
{% endblock %}