<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="
     {% block head_description %}
     Pour nous contacter :
        Cosmed, Rue Abou Jibal N°8, Rabat, 10 000, Maroc
        Tél : 035 9767 909, Fax : 11 11 11 11 11
     {% endblock %}
     ">
    <meta name="keywords" content="
    {% block head_keywords %}
        Cosmed, adresse, téléphone, contact, coordonnées
    {% endblock %}
    ">
    <meta name="author" content="Hege Refsnes">

    {% block head_title %}
        <title>Cosmed | Bienvenue </title>
    {% endblock head_title %}

    {% stylesheets filter='cssrewrite'
    'bundles/CosmedCore/css/foundation.css'
    'bundles/CosmedCore/css/style.css'
    'bundles/CosmedCore/css/foundation-icons/foundation-icons.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% javascripts
    '@CosmedCoreBundle/Resources/public/js/vendor/jquery.js'
    '@CosmedCoreBundle/Resources/public/js/vendor/modernizr.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>

{% if is_granted('ROLE_ADMIN') %}
    {% include 'CosmedCoreBundle:Nav:top_bar.html.twig' %}
{% endif %}
{% block bread_crumbs %}

{% endblock bread_crumbs %}
{% block body_content %}
{% endblock body_content %}
{% block foundation_js %}
    {% javascripts
    '@CosmedCoreBundle/Resources/public/js/foundation.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).foundation();
    </script>
{% endblock foundation_js %}
</body>

</html>
