<noscript>
    Pour pouvoir accéder au formulaire de contact, vous devez impérativement activer le support de JavaScript de votre navigateur
</noscript>
<div class="container">

    <div class="row small-4 small-centered small-offset-2">
        <h1>Contactez nous :</h1>
    </div>

    <div class="row small-10 small-centered small-offset-2">
        <p>« Vous souhaitez nous contacter ? nous vous remercions de remplir le formulaire suivant »</p>
    </div>

    <div class="row small-12 small-centered medium-12 large-8">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
        <fieldset>
            <legend>Information personnelles</legend>

            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.sender.civility) }}
                </div>
                <div class="medium-5 end columns">
                    <div class="row">
                        {{ form_widget(form.sender.civility) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.sender.firstName) }}
                </div>
                <div class="medium-5 end columns">
                    {{ form_widget(form.sender.firstName) }}
                </div>
            </div>
            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.sender.lastName) }}
                </div>
                <div class="medium-5 end columns">
                    {{ form_widget(form.sender.lastName) }}
                </div>
            </div>
            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.sender.email) }}
                </div>
                <div class="medium-5 end columns">
                    {{ form_widget(form.sender.email) }}
                </div>
            </div>

            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.sender.birthDate) }}
                </div>
                <div class="medium-5 end columns">
                    {{ form_widget(form.sender.birthDate) }}
                </div>
            </div>
            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.sender.phone) }}
                </div>
                <div class="medium-5 end columns">
                    {{ form_widget(form.sender.phone) }}
                </div>
            </div>

            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.sender.address) }}
                </div>
                <div class="medium-5 end columns">
                    {{ form_widget(form.sender.address) }}
                </div>
            </div>


            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.sender.zipCode) }}
                </div>
                <div class="medium-5 end columns">
                    {{ form_widget(form.sender.zipCode) }}
                </div>
            </div>

            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.sender.city) }}
                </div>
                <div class="medium-5 end columns">
                    {{ form_widget(form.sender.city) }}
                </div>
            </div>

            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.sender.country) }}
                </div>
                <div class="medium-5 end columns">
                    <div class="row">
                        {{ form_widget(form.sender.country) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.sender.company) }}
                </div>
                <div class="medium-5 end columns">
                    {{ form_widget(form.sender.company) }}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Message</legend>

            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.receiver) }}
                </div>
                <div class="medium-5 end columns">
                    {{ form_widget(form.receiver) }}
                </div>
            </div>

            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.message) }}
                </div>
                <div class="medium-6 end columns">
                    {{ form_widget(form.message) }}
                </div>
            </div>

            <div class="row">
                <div class="medium-4 medium-offset-1 columns">
                    {{ form_label(form.newsLetter) }}
                </div>
                <div class="medium-5 end columns">
                    {{ form_widget(form.newsLetter) }}
                </div>
            </div>
            <div class="row">
                <div class="medium-3 medium-offset-2 columns">
                    {{ form_label(form.captcha) }}
                </div>
                <div class="medium-5 row end columns">
                    {{ form_widget(form.captcha) }}
                </div>
            </div>

        </fieldset>
        <div class="row">
            <div class="medium-4 columns">
                * Champs Obligatoires
            </div>
        </div>
        <div class="right">
            {{ form_widget(form.submit) }}
        </div>
        {{ form_rest(form) }}
        </form>
    </div>
    <div class="row panel">
<div class="small-4 columns">
    <h4>Vos coordonnées:</h4>
    <p>
       <strong>Cosmed</strong>, Rue Abou Jibal N°8, Rabat, 10 000, Maroc
        Tél : 035 9767 909, Fax : 11 11 11 11 11

    </p>

</div>
    </div>
</div>