{% form_theme form 'CosmedCoreBundle:Form:form_layout.html.twig' %}
{% extends "CosmedCoreBundle::layout.html.twig" %}

{% block head_title %}
  <title>  Cosmed – Contact</title>
{% endblock head_title %}

{% block bread_crumbs %}
   <div class="row small-12">
       <ul class="breadcrumbs small-12">
           <li><a href="{{ path('cosmed_contact_frontoffice_default_index') }}">Acceuil</a></li>
           <li class="current"><a href="#">Contact</a></li>
       </ul>
   </div>
{% endblock %}

{% block body_content %}
    {% include 'CosmedContactFrontOfficeBundle:Contact:contact_content.html.twig' %}
{% endblock body_content %}
