{#
Voici le message a envoyé au destinataire/administrateur du site en format HTML :
De : noreplay@domaine.com
Titre : Formulaire de contact > Nom_contact
Message :
«  Un visiteur du site Nom_site, vous a envoyé le message suivant via le formulaire de contact :

Civilité : Monsieur
Prénom : Ali
Nom : Tazi
Email : ali@yahoo.fr
Date de naissance : 10/10/1987
Adresse :
Code postal :
Ville :
Pays :
Société :
Destinataire : Service Comptabilité (comptable@domaine.com)
Message : Faux textes, Faux textes, Faux textes, …
Inscription newsletter : Oui
Date : 10/10/2009 12h00
Adresse IP : 212.210.1.89 »
#}
<div>
     Un visiteur du site Nom_site, vous a envoyé le message suivant via le formulaire de contact :
    <br/>
    <strong>Civilité : </strong>{{ contact.sender.civility }}<br/>
    <strong>Prénom : </strong>{{ contact.sender.firstName }}<br/>
    <strong>Nom : </strong>{{ contact.sender.lastName }}<br/>
    <strong>Email : </strong>{{ contact.sender.email }}<br/>
    <strong>Date de naissance : </strong>{{ contact.sender.birthDate|date('d/m/Y') }}<br/>
    <strong>Adresse : </strong>{{ contact.sender.address }}<br/>
    <strong>Code postal : </strong>{{ contact.sender.zipCode }}<br/>
    <strong>Ville : </strong>{{ contact.sender.city }}<br/>
    <strong>Pays : </strong>{{ contact.sender.country.name }}<br/>
    <strong>Société : </strong>{{ contact.sender.company }}
    <strong>Destinataire : </strong>{{ contact.receiver.function }} ({{ contact.receiver.email }})<br/>
    <strong>Message : </strong>{{ contact.message }}<br/>
    <strong>Inscription newsLetter : </strong>{{ contact.newsLetter }}<br/>
    <strong>Date : </strong>{{ contact.date|date('d/m/Y h:m') }}
    <strong>Adresse IP : </strong>{{ contact.ip }}<br/>
</div>
