{% set currentRoute = app.request.get('_route') %}
<nav data-topbar="" class="top-bar docs-bar hide-for-small">
    <ul class="title-area">
        <li class="name">
            <h1><a href="{{ path('cosmed_contact_backoffice_admin_index') }}">Cosmed Administration</a></h1>

        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li class="divider"></li>
            <li class="{% if currentRoute in 'cosmed_contact_backoffice_admin_index' %}active{% endif %}">
                <a class="" href="{{ path('cosmed_contact_backoffice_admin_index') }}">Consulter les contacts</a>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown not-click" class="{% if 'receiver' in currentRoute %}active{% endif %}">
                <a class="" href="#">Gérer les destinataires</a>
                <ul class="dropdown">
                    <li><a href="{{ path('receiver') }}">Lister/modfier</a></li>
                    <li><a href="{{ path('receiver_new') }}">Ajouter un destinatire</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown not-click" class="{% if 'fos_user' in currentRoute %}active{% endif %}">
                <a href="#">{{ app.user }}</a>
                <ul class="dropdown">
                    <li><a href="{{ path('fos_user_profile_edit') }}">Modifier mon compte</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>