{% trans_default_domain 'FOSUserBundle' %}
<div class="v-center row">
    <div class="row">
        <div class="small-12 small-centered medium-6 large-4 columns">
            {% if error %}
                <div data-alert class="alert-box alert">
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    <a href="#" class="close">&times;</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="small-10 small-centered medium-6 large-4 columns">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <div class="small-12 columns">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                </div>
                <div class="small-12 columns">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required"/>
                </div>
                <div class="small-12 columns">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
                <div class="small-12  columns">
                    <input class="right button expand" type="submit" id="_submit" name="_submit"
                           value="{{ 'security.login.submit'|trans }}"/>
                </div>
            </form>
        </div>
    </div>
</div>