{% extends "CosmedCoreBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_content %}
    {% include 'CosmedUserBundle:Security:login_content.html.twig' %}
{% endblock body_content %}
