{% extends "CosmedCoreBundle::layout.html.twig" %}

{% block head_title %}
    <title> Cosmed – Administration</title>
{% endblock head_title %}

{% block body_content %}
    {% include  'CosmedContactBackOfficeBundle:Admin:admin_content.html.twig'
        with {'contacts' : contacts} %}
{% endblock body_content%}

