<style>
    ul.pagination {
        min-height: 0;
    }
</style>

<div class="row {% if contacts|length <10 %}v-center{% endif %}">
    <div class="panel small-12 large-3 columns">
        <h3>Recherche :</h3>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
        <div>
            {{ form_label(form.from) }}
            {{ form_widget(form.from) }}
        </div>
        <div>
            {{ form_label(form.to) }}
            {{ form_widget(form.to) }}
        </div>
        <div>
            {{ form_label(form.receiver) }}
            {{ form_widget(form.receiver) }}
        </div>
        <div>
            {{ form_label(form.keyword) }}
            {{ form_widget(form.keyword) }}
        </div>
        <div class="row">
            <div class="small-centered text-center">
                {{ form_widget(form.submit, {'attr' : {'class' : 'small bottom large-11' }}) }}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    <div class="small-12 large-9 columns">
        <div class="row large-offset-2 ">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div data-alert class="alert-box success radius">
                        {{ flash }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <form id="delete_contact_form" name="delete_contact_form"
              action="{{ path('cosmed_contact_backoffice_admin_deletecontact') }}"
              method="POST">
            <table class="small-centered small-12 ">
                <thead>
                {% include 'CosmedContactBackOfficeBundle:Admin:contact_table_thead.html.twig' %}
                </thead>
                <tbody>
                {% for contact in contacts.currentPageResults %}
                    {% include 'CosmedContactBackOfficeBundle:Admin:contact_table_tr.html.twig' with {'contact' : contact} %}
                {% endfor %}
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="9">
                            <span class="right">
                        {% if contacts.haveToPaginate %}
                            {{ pagerfanta(contacts, 'foundation') }}
                        {% endif %}
                           </span>
                    </td>
                </tr>
                </tfoot>
            </table>
            <div id="deleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
                 role="dialog">
                <h2 id="modalTitle">Confirmation :</h2>

                <p class="lead">Voulez vous réellement supprimer les contacts sélectionnés.</p>

                <p class="right">
                    <button class="custom-close-reveal-modal alert">Annuler</button>
                    {{ form_widget(toDeleteForm.submit) }}
                </p>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('button.custom-close-reveal-modal').click(function () {
            $('#deleteModal').foundation('reveal', 'close');
        });

        $('#{{ toDeleteForm.vars.id ~'_submit' }}').click(function () {
            $('#deleteModal').foundation('reveal', 'close');
            $('#{{ toDeleteForm.vars.id }}').submit();
        })
    })
</script>