<tr>
    <td>
        <input type="checkbox"
               value="{{ contact.id }}"
               name="delete_contact_form[to_delete][]"
               id="delete_contact_form_to_delete_{{ contact.id }}">
    </td>
    <td>{{ contact.date|date('d/m/Y h:m:s') }}</td>
    <td>{{ contact.ip }}</td>
    <td>
        <a href="{{path('cosmed_contact_backoffice_admin_contactdetail', {'id' : contact.id}) }}">
            {{ contact.sender.lastname }}
        </a>
    </td>
    <td>
        <a href="{{path('cosmed_contact_backoffice_admin_contactdetail', {'id' : contact.id}) }}">
        {{ contact.sender.firstname }}
        </a>
    </td>
    <td>{{ contact.sender.email }}</td>
    <td>{{ contact.sender.phone }}</td>
    <td>{{ contact.sender.city }}</td>
    <td>{{ contact.receiver.name }}</td>
</tr>