{% extends "CosmedCoreBundle::layout.html.twig" %}

{% block body_content %}
    {% include  'CosmedContactBackOfficeBundle:Admin:contact_detail_content.html.twig'
    with {'contact' : contact} %}
{% endblock body_content%}