<div class="row small-12 small-centered large-6">
<fieldset>
<legend>Détail du contact de : {{ contact.sender.lastName }} {{ contact.sender.firstName }}</legend>
    <strong class="large-4 columns">Civilité : </strong>{{ contact.sender.civility }}<br/>
    <strong class="large-4 columns">Prénom : </strong>{{ contact.sender.firstName }}<br/>
    <strong class="large-4 columns">Nom : </strong>{{ contact.sender.lastName }}<br/>
    <strong class="large-4 columns">Email : </strong>{{ contact.sender.email }}<br/>
    <strong class="large-4 columns">Date de naissance : </strong>{{ contact.sender.birthDate|date('d/m/Y') }}<br/>
    <strong class="large-4 columns">Adresse : </strong>{{ contact.sender.address }}<br/>
    <strong class="large-4 columns">Code postal : </strong>{{ contact.sender.zipCode }}<br/>
    <strong class="large-4 columns">Ville : </strong>{{ contact.sender.city }}<br/>
    <strong class="large-4 columns">Pays : </strong>{{ contact.sender.country.name }}<br/>
    <strong class="large-4 columns">Société : </strong>{{ contact.sender.company }}<br/>
    <strong class="large-4 columns">Destinataire : </strong>{{ contact.receiver.function }} ({{ contact.receiver.email }})<br/>
    <strong class="large-4 columns">Message : </strong>{{ contact.message }}<br/>
    <strong class="large-4 columns">Inscription newsLetter : </strong>{{ contact.newsLetter }}<br/>
    <strong class="large-4 columns">Date : </strong>{{ contact.date|date('d/m/Y h:m') }}<br/>
    <strong class="large-4 columns">Adresse IP : </strong>{{ contact.ip }}<br/>

</fieldset>
    <div class="column large-4 rigth">
        <a href="{{ path('cosmed_contact_backoffice_admin_index') }}">
            <i class="fi-arrow-left large"></i>  retour à la liste
        </a>
    </div>
</div>