{% block table_head %}
    {% set resultCount = contacts.currentPageResults|length %}
    <tr class="even">
        <th>
            <span data-tooltip aria-haspopup="true" class="has-tip style4 red" title="Supprimer la sélection !">
                   <a class="style4 red" data-reveal-id="deleteModal"
                      href="#">
                       <i class="fi-trash large"></i>
                   </a>
            </span>
        </th>
        <th colspan="8" class="left-align text-right">
            {{ resultCount }} contact(s) trouvé(s) !
            <span data-tooltip aria-haspopup="true"
                  class="has-tip style4"
                  title="{% if resultCount > 0 %} Exporter sous Excel {% else %} aucun contact à exporter !{% endif %}">
                <a class="style4 {% if resultCount > 0 %} green {% else %} gray {% endif %}"
                   href="{% if resultCount > 0 %} {{ path('cosmed_contact_backoffice_admin_excelexport') }} {% else %} # {% endif %}">
                    <i class="fi-page-export-csv large"></i>
                </a>
             </span>
        </th>
    </tr>
    <tr>
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>IP</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Tél</th>
        <th>Ville</th>
        <th>destinataire</th>
    </tr>
{% endblock table_head %}