{% extends 'form_div_layout.html.twig' %}

{# Widgets #}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <div class="row {% if errors|length > 0 %}error{% endif %}">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <small class=""> {{- form_errors(form) -}}</small>
    </div>
{%- endblock form_widget_simple -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <div class="{% if errors|length > 0 %}error{% endif %}">
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {%- if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
        <small class=""> {{- form_errors(form) -}}</small>
    </div>
{%- endblock choice_widget_collapsed -%}

{%- block textarea_widget -%}
    <div class="{% if errors|length > 0 %}error{% endif %}">
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
        <small class=""> {{- form_errors(form) -}}</small>
    </div>
{%- endblock textarea_widget -%}

{% block money_widget -%}
    <div class="small-11 columns">{{ block('form_widget_simple') }}</div>
    <div class="small-1 columns"><span class="postfix">{{ money_pattern|replace({'{{ widget }}': ''})|raw }}</span>
    </div>
{%- endblock money_widget %}

{% block url_widget -%}
    {%- set type = type|default('url') -%}
    <div class="small-1 columns"><span class="prefix">http://</span></div>
    <div class="small-11 columns">{{ block('form_widget_simple') }}</div>
{%- endblock url_widget %}

{% block percent_widget -%}
    {%- set type = type|default('text') -%}
    <div class="small-11 columns">{{ block('form_widget_simple') }}</div>
    <div class="small-1 columns"><span class="postfix">%</span></div>
{%- endblock percent_widget %}

{% block search_widget -%}
    {%- set type = type|default('search') -%}
    <div class="small-11 columns">{{ block('form_widget_simple') }}</div>
    <div class="small-1 columns"><span class="postfix"><i class="fa fa-search"></i></span></div>
{%- endblock search_widget %}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        {% set attr = attr|merge({'class': ('row ' ~ attr.class|default(''))|trim }) %}
        <div {{ block('widget_container_attributes') }}>
            {{- date_pattern|replace({
            '{{ year }}':  '<div class="small-4 medium-2 columns">' ~ form_widget(form.year) ~ '</div>',
            '{{ month }}': '<div class="small-4 medium-2 columns">' ~ form_widget(form.month) ~ '</div>',
            '{{ day }}':   '<div class="small-4 medium-2 columns">' ~ form_widget(form.day) ~ '</div>',
            })|raw -}}
            <div class="columns end"></div>
        </div>
    {%- endif %}
{%- endblock date_widget %}

{% block time_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
        {% set attr = attr|merge({'class': ('row ' ~ attr.class|default(''))|trim }) %}
        <div {{ block('widget_container_attributes') }}>
            <div class="small-2 columns">{{ form_widget(form.hour, vars) }}</div>
            {% if with_minutes -%}
                <div class="small-2 columns">{{ form_widget(form.minute, vars) }}</div>
            {%- endif %}
            {% if with_seconds -%}
                <div class="small-2 columns">: {{ form_widget(form.second, vars) }}</div>
            {%- endif %}
            <div class="columns end"></div>
        </div>
    {%- endif %}
{%- endblock time_widget %}

{% block slider_widget -%}
    {% set slideClass = 'range-slider' %}
    {% if vertical is defined %}
        {% set slideClass = slideClass ~ ' vertical-range' %}
    {% endif %}
    {% set attr = attr|merge({'class': (slideClass ~ ' ' ~ attr.class|default(''))|trim }) %}
    <div data-slider="{{ value }}"
         data-options="start: {{ start }}; end: {{ end }}; step: {{ step }};{% if vertical is defined %} vertical: true;{% endif %}" {{ block('widget_container_attributes') }}>
        <span class="range-slider-handle"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden" {{ block('widget_attributes') }}/>
    </div>
{%- endblock slider_widget %}

{% block switch_widget -%}
    {% set is_switch = true %}
    {{ block('choice_widget_expanded') }}
{%- endblock switch_widget %}

{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {%- if is_switch is defined -%}
                <div class="switch-wrapper">
                    <div class="switch left">
                        {{- form_widget(child) -}}
                        <label for="{{ child.vars.id }}"></label>
                    </div>
                    {{- form_label(child) -}}
                    <div class="clearfix"></div>
                </div>
            {%- else -%}
                {{- form_widget(child) -}}
                {{- form_label(child) -}}
            {%- endif -%}
        {% endfor -%}
    </div>
{% endblock choice_widget_expanded %}

{% block button_group_widget -%}
    {% set attr = attr|merge({'class': ('button-group ' ~ attr.class|default(''))|trim }) %}
    <ul{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% for button in form.children %}
        <li>{{- form_widget(button) -}}</li>
    {% endfor %}
    </ul>
{%- endblock %}

{% block button_bar_widget -%}
    {% set attr = attr|merge({'class': ('button-bar ' ~ attr.class|default(''))|trim }) %}
    <div{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% for button_group in form.children %}
        {{- form_widget(button_group) -}}
    {% endfor %}
    </div>
{%- endblock %}

{# Labels #}

{% block form_label -%}
    {% if errors|length > 0 -%}
        {% set label_attr = label_attr|merge({'class': ('error ' ~ label_attr.class|default(''))|trim}) %}
    {% endif %}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% set asterix = '*' %}
        {%- endif %}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }} {{ asterix|default('') }} :</label>
    {%- endif -%}
{%- endblock form_label %}

{% block button_group_label -%}{%- endblock %}

{% block button_bar_label -%}{%- endblock %}

{# Rows #}
{% block form_row -%}
    {% set class_row = ['row']|merge(class_row|default([])) %}
    {% if errors|length > 0 -%}
        {% set class_row = ['error']|merge(class_row) %}
    {% endif %}
    <div class="{{ class_row|join(' ') }}">
        <div class="small-12 columns">
            {%- if collapse_row is defined %}
            <div class="row collapse">{% endif -%}
                {% if form_label(form)|length > 10 %} {# todo temporary to hide label set to false #}
                    <div class="columns small-6">
                        {{- form_label(form) -}}
                    </div>
                {% endif %}
                <div class="columns  {% if form_label(form)|length > 10 %} small-6 {% endif %}">
                    {{- form_widget(form) -}}
                    {{- form_errors(form) -}}
                </div>

                {%- if collapse_row is defined %}</div>{% endif -%}
        </div>
    </div>
{%- endblock form_row %}

{% block money_row -%}
    {%- set collapse_row = true -%}
    {{ block('form_row') }}
{%- endblock money_row %}

{% block url_row -%}
    {%- set collapse_row = true -%}
    {{ block('form_row') }}
{%- endblock url_row %}

{% block percent_row -%}
    {%- set collapse_row = true -%}
    {{ block('form_row') }}
{%- endblock percent_row %}

{% block search_row -%}
    {%- set collapse_row = true -%}
    {{ block('form_row') }}
{%- endblock search_row %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- if form.parent is empty -%}
            <div data-alert class="alert-box alert form-global-error">
                <ul>
                    {%- for error in errors -%}
                        <li>{{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </div>
        {% else %}
            <small class="error">
                {%- for error in errors -%}
                    {{ error.message }}
                {%- endfor -%}
            </small>
        {%- endif %}
    {%- endif %}
{%- endblock form_errors %}

{% block captcha_widget %}
    {% spaceless %}
        <div class="columns medium-6 ">
            {{ form_widget(form) }}
        </div>
        <div class="columns medium-4 end">
            <span class="postfix">
            <img src="{{ captcha_code }}" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}"/>
            </span>
        </div>
    {% endspaceless %}
{% endblock %}